# Editor
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
*.code-workspace

# Misc
.cache/
.DS_Store

# Testing
coverage/
jest-cache/
test/e2e/reports/
test/e2e/results/
test/e2e/screenshots/
test/e2e/videos/
test/jest/.cache/
